<%= form_for  @reservation, url: user_listing_reservations_path(current_user, @listing.id) do |f| %>
    <% if @errors.present? %>
      <%= @errors %>
    <% end %>
    <form>
      <div class="form-group">
          <%= f.label "Select your date and time" %>

          <%= f.label "Start Date" %>
          <%= f.datetime_field :startdate, :class => "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label "End Date" %>
          <%= f.datetime_field :enddate, :class => "form-control" %>
      </div>
          <%= f.submit "Park!", :class => "btn btn-danger-outline btn-block"%>
      <% end %>
    </form>
